name: Build Docker Image

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'  # Every Sunday at 00:00 UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Get current timestamp
      run: echo "TIMESTAMP=$(date +'%Y%m%d%H%M')" >> $GITHUB_ENV

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ghcr.io/goodtiding5/llama-rocm-ubuntu24.04:latest,ghcr.io/goodtiding5/llama-rocm-ubuntu24.04:${{ env.TIMESTAMP }}